<h1>Create New Sub</h1>

<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Title:
    <input type="text" name="sub[title]">
  </label>
  <br>
  <label>
    Description:
    <input type="text" name="sub[description]">
  </label>
  <br>
  <button>Create Sub</button>
</form>