.board {
    display: inline-block;
    width: auto;
    border: 1px solid black;
    margin: ;
}

.tile {
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    float: left;
    background-color: gray;
    border-style: outset;
    font-size: 50px;
    text-align: center;
    line-height: 2;
    color: black;
}


.row {
    display: block;
    margin: 0 auto;

}

.bombed {
    /* content: \1F4A3; */

}

.explored {
    border-style: inset;
    
}

.flagged {

}

.center {
  display: flex;
  justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    position: relative;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    background-color: lightgray;
    

}